
<h2>PS1 : Basics</h2>
<hr>

<div class="table-responsive">
  <table class="table table-hover">
        <tr>
          <td>
            <ul>
                <li>
                    <a href="/ps1/divide">Divide By Zero</a>
                </li>
            </ul>
          </td>
        </tr>

        <tr>
        </tr>

        <tr>
          <td>
            <ul>
                <li>
                    <a href="/ps1/news">Google News</a>
                </li>
            </ul>
          </td>
        </tr>
  </table>
</div>
