<h1>News</h1>

<hr>
<h3>Implementation Details</h3>
<ul>
    <li>
    The html from the google news is opened using the 'open' function from the
    'OpenURI' module
    </li> 
    <li>
    The 'Nokogiri' module is used to parse the html obtained from google news.
    </li>
    <li>
    The headlines, image urls and links are found using their html class names.
    </li>
</ul>
<hr>

<% for i in 0..@img_urls.length %>
  <a href=<%= @urls[i] %>>
      <h3><%= @headlines[i] %></h3>
      <br>
      <img src=<%= @img_urls[i] %> />
  </a>
  <hr>
<% end %>

