<h1>Home</h1>
<%# <% for item in @controllers %1> %>
  <%# <%= item %1><br> %>
  <%# <% end %1> %>
<hr>
<a href="/ps1/index">PS1</a>
<ul>
  <li><a href="/ps1/divide">Divide By Zero</a></li>
  <li><a href="/ps1/news">Google News</a></li>
</ul>
<hr>
<div class="footer">
  <a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fweb7.cs.ait.ac.th%2F">HTML Validator</a>
</div>    
