<style>

#i {

    width: 570px;
    border: 2px solid green;
    padding: 25px;
    /* margin: 25px; */
}

</style>

<br><br>

<h2 class="text-center">Group 7</h2>

<br>

<div>

  <h4>Member :</h4>
        <div class="row" >
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><strong>st120534</strong></div>
            <div class="col-sm-5"><strong>Ruangtiwa Kimsungnoen</strong></div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"><strong>st119982</strong></div>
            <div class="col-sm-5"><strong>Nischal Srinivas Basuti</strong></div>
        </div>
</div>

<hr>

<div id="div2" class="table-responsive">
  <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center" width=300><strong>Topic</strong></th>
          <th class="text-center">PS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Basic</td>
          <td>
              <ul>
                <li>
                  <a href="/ps1/index">PS1</a>
                </li>
                <li>
                  <a href="/ps2/index">PS2</a>
                </li>
              </ul>
          </td>
        </tr>
<!-- end of basic -->
        <tr>
          <td>Documentation</td>
          <td>
              <ul>
                <li>
                  <%= link_to 'Planning project', '/Project_planning.pdf' -%>
                </li>
              </ul>
          </td>
        </tr>
<!-- end of Documentation -->
        <tr>
          <td>PS 4</td>
          <td>
              <ul>
                <li>
                    <a href="/ps4/index">PS4</a>
                </li>
                <!--  -->

                <li>
                  <a href="https://trello.com/b/HY6aYEId/su-events-calender">Issue Tracker</a>
                </li>

                <li>
                  <a href="https://docs.google.com/document/d/1OXzSpAmIPGzV1PaWGfA0lQoIC0RDuMOct8Tvczqy2PU/edit?usp=sharing">Documentation</a>
                </li>

                <li>
                  <a href="http://web7.cs.ait.ac.th/backup.dump">Latest Database Dump</a>
                </li>
              </ul>
          </td>
        </tr>
<!-- end of ps4-->
        <tr>
          <td>PS 5</td>
          <td>
              <ul>
                <li>
                  <a href="https://docs.google.com/document/d/1GoZZif8czoA74JNApmtoJFWzXlMDCRFGKfWBbMkJ1ck/edit?usp=sharing">Documentation</a>
                </li>
                <li>
                    <p>
                        For PS5, we implemented the skeletal implementation of the workflow for comments on a forum.
                        This involves a 'chair' user to create an event,
                        a 'coordinator' user to creating forums for their respective events
                        and any user creating a new comment on the forum.
                    </p>
                </li>

              </ul>
          </td>
        </tr>
<!-- end of ps5-->
        <tr>
          <td>PS 6</td>
          <td>
              <ul>
                <li>
                  <a href="https://docs.google.com/document/d/1TYgPrXMpjOAzqDwm5TbeLDYDuiiIXupqbA_PQ7cSntc/edit?usp=sharing">The evaluation</a>
                </li>
              </ul>
          </td>
        </tr>
      </tbody>
  </table>
</div>
