<style>

.div2 {
    width: 600px;
    height: 120px;
    padding: 20px;
    /* border: 1px solid red;
    text-align: center; */
}

</style>

<h2>Group 7</h2>

<div class="div2">
  <h3>Member</h3>
        <div class="row" >
            <div class="col-sm-2">st120534</div>
            <div class="col-sm-5">Ruangtiwa Kimsungnoen</div>
        </div>

        <div class="row">
            <div class="col-sm-2">st119982</div>
            <div class="col-sm-5">Nischal Srinivas Basuti</div>
        </div>
</div>

<hr>

<div class="table-responsive">
  <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" width=300>Topic</th>
          <th class="text-center">PS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Basic</td>
          <td>
              <ul>
                <li>
                  <a href="/ps1/index">PS1</a>
                </li>
                <li>
                  <a href="/ps2/index">PS2</a>
                </li>
              </ul>
          </td>
        </tr>
<!-- end of basic -->
        <tr>
          <td>Documentation</td>
          <td>
              <ul>
                <li>
                  <%= link_to 'Planning project', '/Project_planning.pdf' -%>
                </li>
              </ul>
          </td>
        </tr>
<!-- end of Documentation -->
        <tr>
          <td>PS 4</td>
          <td>
              <ul>
                <li>
                    <a href="/ps4/index">PS4</a>
                </li>
                <!--  -->
  
                <li>
                  <a href="https://trello.com/b/HY6aYEId/su-events-calender">Issue Tracker</a>
                </li>

                <li>
                  <a href="https://docs.google.com/document/d/1OXzSpAmIPGzV1PaWGfA0lQoIC0RDuMOct8Tvczqy2PU/edit?usp=sharing">Documentation</a>
                </li>

                <li>
                  <a href="http://web7.cs.ait.ac.th/backup.dump">Latest Database Dump</a>
                </li>
              </ul>
          </td>
        </tr>
<!-- end of ps4-->
        <tr>
          <td>PS 5</td>
          <td>
              <ul>
                <li>
                  <a href="https://docs.google.com/document/d/1GoZZif8czoA74JNApmtoJFWzXlMDCRFGKfWBbMkJ1ck/edit?usp=sharing">Documentation</a>
                </li>
                
              </ul>
          </td>
        </tr>
<!-- end of ps5-->       
      </tbody>
  </table>
</div>
