<h1>Home</h1>
<hr>
<ul>
    <li>
    <a href="/ps1/index">PS1</a>
    </li>
    <li>
    <a href="/ps2/index">PS2</a>
    </li>
</ul>
<hr>
<div class="footer">
    <a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fweb7.cs.ait.ac.th%2F">HTML Validator</a>
</div>    
