
<h2  class="text-center" style="color:#1a001a;" > <i class="fas fa-edit"></i> Editing <%= @event.name %></h2>

<div class="text-center">
	
	<%= link_to '<button type="button" class="btn btn-warning"><i class="fas fa-arrow-circle-left"></i> Back to the event</button>'.html_safe, events_path(@event) %>

</div>

<br>

<%= render 'form', event: @event %>


