<h1>ps4</h1>

<h3>User adminstration pages</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" width=200>Pages</th>
            <th scope="col">Explanation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><a href="/user_management/show">View registered user</a></th>
            <td>
                <ul>
                    <li>
                    In pages,
                    <ul>
                        <li>
                        query the user data from database and short by the date of registration.
                        </li>
                        <li>
                        create a ban button to change the global_role to be a ban user.
                        </li>
                    </ul>
                    </li><!-- for page -->

                    <li>
                    For using  BDD,
                    <ul>
                        <li>
                        use <a href="/user_management/user_manage_features">Feature: User management</a> for testing
                        </li>

                    </ul>
                    </li><!-- for BDD -->
                </ul>
            </td> <!-- end decribe  The registered user-->
        </tr>

        <tr>
            <th scope="row"><a href="/user_management/statistic_users">View statistics of the users</a></th>
            <td>
                <ul>
                    <li>
                    In pages,
                    <ul>
                        <li>
                        query the user data from database, then count the user in each global_role group.
                        </li>
                    </ul>
                    </li><!-- for page -->

                    <li>
                    For using  BDD,
                    <ul>
                        <li>
                        use <a href="/user_management/user_statistics">Feature: Statistic users</a> for testing
                        </li>

                    </ul>
                    </li><!-- for BDD -->
                </ul>
            </td>
        </tr>

    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" width=250>Pages</th>
            <th scope="col">Explanation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">User registration pages</th>
            <td>
                <ul>
                    <li> Generated through devise. </li>
                </ul>
            </td>
        </tr>

        <tr>
            <th scope="row">User login pages</th>
            <td>
                <ul>
                    <li> Generated through devise.</li>
                </ul>
            </td>
        </tr>

    </tbody>
</table>


<h3>The setting SSL for user pages</h3>
<li>
SSL was set up using <%= link_to "letsencrypt", 'https://letsencrypt.org' %> 
using the Certbot ACME client and it's Apache plugin.
</li>
