
<h3>The basic user pages</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" width=250>Pages</th>
      <th scope="col">Explanation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">The user registration pages</th>
      <td>
        <ul>
          <li>
              In pages,
              <ul>
                  <li>
                  </li>
                  <li>
                  </li>
              </ul>
          </li><!-- for page -->

          <li>
              For using  BDD,
              <ul>
                  <li>
                  </li>

              </ul>
          </li><!-- for BDD -->
        </ul>
      </td> <!-- end decribe  The registered user-->
    </tr>

    <tr>
      <th scope="row">The user login pages</th>
      <td>
        <ul>
          <li>
              In pages,
              <ul>
                  <li>
                  </li>
              </ul>
          </li><!-- for page -->

          <li>
              For using  BDD,
              <ul>
                  <li>
                  </li>

              </ul>
          </li><!-- for BDD -->
        </ul>
      </td>
    </tr>

  </tbody>
</table>


<h3>The setting SSL for user pages</h3>
