
<h3>The user adminstration pages</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" width=200>Pages</th>
      <th scope="col">Explanation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="/user_management/show">The registered user</a></th>
      <td>
        <ul>
          <li>
              In pages,
              <ul>
                  <li>
                    query the user data from database and short by the date of registration.
                  </li>
                  <li>
                    create a ban button to change the global_role to be a ban user.
                  </li>
              </ul>
          </li><!-- for page -->

          <li>
              For using  BDD,
              <ul>
                  <li>
                    use <a href="/user_management/user_manage_features">Feature: User management</a> for testing
                  </li>

              </ul>
          </li><!-- for BDD -->
        </ul>
      </td> <!-- end decribe  The registered user-->
    </tr>

    <tr>
      <th scope="row"><a href="/user_management/statistic_users">The statistics of users</a></th>
      <td>
        <ul>
          <li>
              In pages,
              <ul>
                  <li>
                    query the user data from database, then count the user in each global_role group.
                  </li>
              </ul>
          </li><!-- for page -->

          <li>
              For using  BDD,
              <ul>
                  <li>
                    use <a href="/user_management/user_statistics">Feature: Statistic users</a> for testing
                  </li>

              </ul>
          </li><!-- for BDD -->
        </ul>
      </td>
    </tr>

  </tbody>
</table>
